@model Product

@section head {
    Product
}

@section title {
    Create
}

<form method="post" action="/admin/products/create" enctype="multipart/form-data">
    <div class="card-body">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="Name" value="@Model?.Name" placeholder="Enter Name Product">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" name="Description" value="@Model?.Description" placeholder="Enter Description">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Price</label>
            <input type="number" class="form-control" name="Price" value="@Model?.Price" placeholder="Enter Price">
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Quantity</label>
            <input type="number" class="form-control" name="Quantity" value="@Model?.Quantity" placeholder="Enter Quantity">
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Image</label>
            <input type="file" class="form-control" name="Image">
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Category</label>
            <select class="form-control" name="CategoryId">
                @foreach (var item in ViewBag.Categories)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
    </div>

    <div class="card-footer">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>


