<style>
    .card:hover {
        transform: translateY(-10px);
    }
</style>
<h1 class="text-center fw-bold animate__animated animate__fadeInDown " style="font-size: 2.5rem; color: #007bff; text-shadow: 1px 1px 3px rgba(0,0,0,0.2); border-bottom: 3px solid #007bff; display: inline-block; padding-bottom: 10px;">
    Categories
</h1>


<div class="row justify-content-center gap-4 mt-5">
    @foreach (var item in ViewBag.category)
    {
        <div class="card shadow animate__animated animate__fadeInUp" style="width: 18rem; transition: transform 0.3s ease;">
            <img src="/images/@item.Image" class="card-img-top" alt="..." style="height: 180px; object-fit: cover;">
            <div class="card-body text-center">
                <p class="card-text fw-bold">@item.Name</p>
            </div>
        </div>
    }
</div>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach(var item in ViewBag.product){
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="/images/@item.Image" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">@item.Name</h5>
                            <!-- Product price-->
                            @item.Price
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                    </div>
                </div>
            </div>
            }

        </div>
    </div>
</section>
